.new {
  width: 100%;
  position: relative;

  .bgshadow {
    width: 100%;
    height: 300px;
    overflow: hidden;
    box-shadow: var(--inner-shadow);
    position: absolute;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-image: linear-gradient(
        var(--shadow-background),
        var(--shadow-background)
      ),
      url(../../../assets/img/home/modile/bg-mob-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    top: 129px;
    z-index: -2;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../../../assets/img/home/modile/bg-mob-2x.jpg);
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      top: 171px;
      background-image: url(../../../assets/img/home/tablet/bg-tab-1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../../../assets/img/home/tablet/bg-tab-2x.jpg);
      }
    }
    @media screen and (min-width: 1200px) {
      top: 200px;
      background-image: url(../../../assets/img/home/desktop/bg-desk-1x.jpg);
      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../../../assets/img/home/desktop/bg-desk-2x.jpg);
      }
    }
  }
}

.newupdate {
  padding-top: 55px;
  padding-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 120px;
  }

  &__title,
  &__title_large {
    line-height: 1;
    font-size: 18px;
    font-family: var(--accent-font);
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 9px;
    }
  }

  &__title_large {
    font-size: 32px;
    margin-bottom: 73 px;
    @media screen and (min-width: 768px) {
      font-size: 48px;
      margin-bottom: 80px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 74px;
      margin-bottom: 70px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.3;
    margin-bottom: 115px;
    display: flex;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 145px;
      line-height: 1;
    }
    @media screen and (min-width: 1200px) {
      font-size: 18px;
      margin-bottom: 139px;
    }
  }

  &__timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 130px;
    &__all {
      display: flex;
    }

    &__field {
      display: flex;
      flex-direction: column;
    }

    &__value {
      font-size: 48px;
      color: var(--opacity-font-4);
      line-height: 1;
      display: flex;
      margin-bottom: 5px;

      @media screen and (min-width: 768px) {
        font-size: 96px;
      }
    }

    &__label {
      font-size: 14px;
      line-height: 1.35;
      font-family: var(--accent-font);
      @media screen and (min-width: 768px) {
        font-size: 18 px;
      }
    }

    &__threedot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1;
      height: 96px;
    }

    &__dot {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: var(--opacity-font-4);
      margin: 0 15px;
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__link {
    font-size: 18px;
    font-family: var(--accent-font);
    text-decoration: underline;
    @media screen and (min-width: 768px) {
      font-size: 24 px;
    }
  }
}
