.forum__topic {
  width: calc(100% - 90px);
  &_item {
    // border: 1px solid var(--accent-element-color);
    padding: 13px 45px;
    // margin-bottom: 20px;
    margin-left: 45px;
    margin-right: 45px;
  }
  &_summary {
    display: flex;
  }
  &_number {
    font-size: 14px;
    color: var(--opacity-font-2);
  }
  &_text {
    font-size: 14px;
    color: var(--opacity-font-2);
    text-decoration-line: underline;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  &__text_answer {
    font-size: 14px;
  }
}
