.forum__themes {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    height: auto;
  }

  &__item {
    margin-bottom: 50px;
  }

  &__item_details {
    width: 100%;
  }

  &__main {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }

  &__line {
    width: 1px;
    height: 40px;
    background-color: var(--accent-element-color);
    margin-right: 25px;
  }

  &__title {
    background-color: transparent;
    font-size: 32px;
    font-family: var(--accent-font);
    @media screen and (min-width: 768px) {
      font-size: 40px;
    }
  }

  &__item_subtitle:not(:last-child) {
    margin-bottom: 10px;
  }
  &__item_subtitle {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: var(--accent-background);
    }
  }

  &__subtitle {
    background-color: var(--accent-background);
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    @media screen and (min-width: 768px) {
      margin-right: 0;
      margin-bottom: 0;
      padding: 14px 30px;
    }
  }

  &__btn {
    background-color: transparent;
    display: flex;

    &_text {
      font-size: 18px;
      font-family: var(--accent-font);

      @media screen and (min-width: 768px) {
        margin-right: 25px;
      }
    }
  }

  &__update {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      background-color: var(--accent-background);
      flex-direction: row;
    }

    &_text {
      display: none;
      @media screen and (min-width: 1200px) {
        display: block;
        color: var(--opacity-font-2);
        font-size: 18px;
      }
    }
    &_text_tab {
      font-size: 14px;
      color: var(--opacity-font-2);
      @media screen and (min-width: 768px) {
        font-size: 18px;
      }
    }
    &_text_mob {
      font-size: 14px;
      color: var(--opacity-font-2);
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &_mob {
    display: flex;
    justify-content: flex-end;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &_desk {
    display: none;
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}
