.privpollic {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 9px;
    padding-bottom: 50px;

    &__license,
    &__privpol {
      width: 100%;
      height: calc(100vh - 290px);
      max-height: 430px;
      overflow: hidden;
      overflow-y: scroll;
      background-color: var(--main-background);
    }
    &__license::-webkit-scrollbar,
    &__privpol::-webkit-scrollbar {
      width: 10px;
      background-color: var(--main-background);
    }
    &__license::-webkit-scrollbar-thumb,
    &__privpol::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--main-background);
    }
    &__license::-webkit-scrollbar-thumb:hover,
    &__privpol::-webkit-scrollbar-thumb:hover {
      background-color: var(--error-color);
    }

    &::-webkit-scrollbar-track {
      background-color: var(--accent-background);
    }

    &__item {
      height: 50px;
      background-color: var(--accent-background);
      display: flex;
      align-items: center;
      padding-left: 45px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__text {
      font-family: var(--accent-font);

      &_description {
        background-color: var(--accent-background);
        color: var(--opacity-font-2);
        padding: 6px 45px;
        line-height: 1.5;
        padding-bottom: 83px;

        &_underline {
          color: var(--opacity-font-2);
          text-decoration: underline;
          line-height: 1.5;
        }
      }
      &_underline {
        font-family: var(--accent-font);
        text-decoration: underline;
      }
    }

    &__btn {
      background-color: transparent;
      display: flex;
      align-items: center;
    }
    &__btn_text {
      font-size: 40px;
      font-family: var(--accent-font);
      margin-right: 25px;
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 20px;
    }

    &__link {
      font-size: 40px;
      font-family: var(--accent-font);

      &_active {
        font-size: 40px;
        font-family: var(--accent-font);
        text-decoration: underline;
      }
    }

    &__links_bottom {
      display: flex;
    }

    &__line {
      width: 1px;
      height: 40px;
      background-color: #fff;
      margin-right: 25px;
      margin-left: 25px;
    }
  }
}
