:root {
  --main-font: "Roboto Condensed", sans-serif;
  --accent-font: "Marcellus SC", serif;

  --main-background: #1a1a1a;
  --accent-background: #0e0e0e;
  --shadow-background: rgb(26, 26, 26, 0.45);

  --main-font-color: #fff;
  --opacity-font-1: rgba(255, 255, 255, 0.7);
  --opacity-font-2: rgba(255, 255, 255, 0.5);
  --opacity-font-3: rgba(255, 255, 255, 0.35);
  --opacity-font-4: rgba(255, 255, 255, 0.25);

  --accent-color: #ff0000;

  --main-element-color: #060606;
  --accent-element-color: #fff;

  --inner-shadow: inset 0px -200px 250px var(--main-background);
  --filter-shadow: drop-shadow(0px 25px 40px var(--accent-background));
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: var(--main-font);
  line-height: 1.7;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.01em;
  color: var(--main-font-color);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  list-style: none;
  cursor: url("../assets/icon/cursor1.png"), auto;
}

body {
  background-color: var(--main-background);
}

@media screen and (min-width: 768px) {
  .background {
    padding: 0 25px;
  }
}

.default {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    padding: 0 25px;
  }
}

.layout {
  width: 320px;

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
