.forum__messageitem {
  flex-direction: column;
  position: relative;

  &__all {
    height: 100%;
    padding-left: 45px;
  }

  &_topic {
    display: flex;
    margin-top: 50px;
    height: 100%;
    margin-left: -24.5px;
  }

  &__line_answer_vert {
    width: 5px;
    border-left: 1px solid var(--accent-element-color);
    background-color: var(--accent-element-color);
  }

  &__horiz {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &_lineanswer {
    position: relative;
    height: 100%;
    width: 0.5px;
  }
  &_item &_lineanswer_first {
    display: none;
  }

  &_item:last-child &_lineanswer_first {
    display: block;
    width: 0.5px;
    height: 23px;
    background-color: var(--accent-element-color);
  }

  &_item:first-child &_lineanswer_first {
    display: block;
    width: 0.1px;
    height: 50px;
    border-left: 1px solid var(--accent-element-color);
    margin-top: -43px;
    margin-left: -1px;
  }
  &_lineanswer_second {
    display: block;
    width: 0.5px;
    min-height: 75px;
    height: 100%;
    background-color: var(--accent-element-color);
  }

  &_item:last-child &_lineanswer_second {
    display: none;
  }

  &_line_horiz {
    height: 0.5px;
    border: 0.1px solid var(--accent-element-color);
    width: 22.5px;
    background-color: var(--accent-element-color);
    margin-top: 22.5px;
  }

  &_summary {
    display: flex;
    align-items: flex-start;
  }

  &_item {
    display: flex;
    flex-direction: row;
    border-left: 1px solid var(--accent-element-color);
  }

  &_item:last-child &__line_answer_vert {
    display: none;
    border-left: none;
  }

  &_item:last-child {
    border-left: none;
  }
  
  &_avatar {
    padding: 7.5px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_svg {
    margin-bottom: 7.5px;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &_line {
    width: 0.5px;
    border: 0.1px solid var(--accent-element-color);
    height: 16px;
    background-color: var(--opacity-font-2);
    margin-left: 10px;
    margin-right: 10px;
  }

  &__text {
    color: var(--opacity-font-2);
    line-height: 1.4;
  }
  &__text_answer {
    line-height: 1.4;
    margin-bottom: 50px;
  }
}
