.forum__messageitem {
  flex-direction: column;
  position: relative;

  &__all {
    height: 100%;
    padding-left: 45px;
  }
  // &_item::before,
  // &_item::after {
  //   position: absolute;
  //   content: "";
  //   left: 50%;
  //   margin-top: -0.5px;
  //   border: 1px solid white;
  // }

  // &_item:before {
  //   left: 0;
  //   right: 50%;
  //   /* This must be half of the size of the label*/
  //   margin-right: 12.5px;
  // }
  // &_item:after {
  //   right: 0;
  //   left: 50%;
  //   /* This must be half of the size of the label*/
  //   margin-left: 12.5px;
  // }

  // &_item:first-of-type:before,
  // &_item:last-of-type:after {
  //   border: none;
  // }

  &_topic {
    display: flex;
    margin-top: 50px;
    height: 100%;
  }

  &__line_answer_vert {
    width: 0.5px;
    // border: 0.1px solid var(--accent-element-color);
    // height: calc(100% - 25px);
    //  min-height: 100%;
    background-color: var(--accent-element-color);
  }

  &__horiz {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &_lineanswer {
    position: relative;
    margin-left: 25.6px;
    height: 100%;
    width: 0.5px;
    // border: 0.1px solid var(--accent-element-color);
  }
  &_lineanswer_first {
    width: 0.5px;
    height: 23px;
    background-color: var(--accent-element-color);
    // border: 0.25px solid var(--accent-element-color);
  }
  &_lineanswer_second {
    // position: absolute;
    display: block;
    width: 0.5px;
    // border: 0.25px solid var(--accent-element-color);
    min-height: 75px;
    height: 100%;
    // min-height: calc(100% - 23px);
    background-color: var(--accent-element-color);
  }

  &_item:last-child &_lineanswer_second {
    display: none;
  }

  &_line_horiz {
    height: 0.5px;
    border: 0.1px solid var(--accent-element-color);
    width: 22.5px;
    background-color: var(--accent-element-color);
    margin-top: 22.5px;
  }

  &_summary {
    display: flex;
    align-items: flex-start;
    // height: 100%;
  }
  &_item {
    display: flex;
    flex-direction: row;
  }

  &_item:last-child &__line_answer_vert {
    display: none;
  }
  &_avatar {
    padding: 7.5px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &_svg {
    margin-bottom: 7.5px;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &_line {
    width: 0.5px;
    border: 0.1px solid var(--accent-element-color);
    height: 16px;
    background-color: var(--opacity-font-2);
    margin-left: 10px;
    margin-right: 10px;
  }

  &__text {
    color: var(--opacity-font-2);
    line-height: 1.4;
  }
  &__text_answer {
    line-height: 1.4;
    margin-bottom: 50px;
  }
}
