.container {
  background-image: linear-gradient(
    var(--main-background) 0% 18.2%,
    var(--accent-background) 18.2% 100%
  );
  color: var(--main-font-color);
  padding: 55px 20px 30px 20px;

  @media screen and (min-width: 768px) {
    padding: 70px 55px 50px 55px;
    background-image: linear-gradient(
      var(--main-background) 0% 25.95%,
      var(--accent-background) 25.95% 100%
    );
  }
  @media screen and (min-width: 1200px) {
    padding: 120px 75px 50px 75px;

    background-image: linear-gradient(
      var(--main-background) 0% 27.4%,
      var(--accent-background) 27.4% 100%
    );
  }
}

.title {
  text-align: center;
  margin-bottom: 5px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }

}

.text {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: var(--opacity-font-2);

  @media screen and (min-width: 768px) {
    margin: 0 auto;
    width: 400px;
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    font-size: 18px;
    line-height: 1;
  }
}

.text_form {
  text-align: center;
  margin-top: 65px;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  @media screen and (min-width: 768px) {
    text-align: left;
    margin-top: 76px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 69px;
  }
}

.input {
  outline:none;
  width: 100%;
  padding-bottom: 5px;
  margin-top: 52px;
  border-bottom: 1px solid var(--accent-element-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--opacity-font-2);
  background-color: var(--accent-background);
}

.btn_container {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    margin: 0 auto;
    margin-top: 70px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 80px;
  }
}

.capcha {
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-left: 45px;
  }
}

// .btn_form {
//   margin-top: 25px;
//   padding: 4px 8px;
//   background-color: var(--accent-background);
//   border: 1px solid var(--accent-element-color);
//   @media screen and (min-width: 768px) {
//     margin-top: 0;
//   }

//   &:hover {
//     cursor: pointer;
//   }
// }

// .btn_background {
//   display: flex;
//   justify-content: center;
//   padding: 18px 24px;
//   background-color: var(--accent-color);
// }

// .btn_text {
//   margin-right: 10px;
//   font-family: var(--accent-font);
//   font-weight: 400;
//   font-size: 24px;
//   line-height: 100%;
//   color: var(--main-font-color);
// }

// .ellipsis {
//   margin: auto;
// }

// .point {
//   width: 4px;
//   height: 4px;
//   border-radius: 50%;
//   margin-bottom: 4px;
//   background-color: var(--opacity-font-3);
//   &:last-child {
//     margin-bottom: 0;
//   }
// }
