.login {
  padding-bottom: 50px;

  &__login {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    background-color: var(--accent-background);
    padding: 20px;
    width: 100%;
    height: calc(100vh - 130px);
    max-height: 620px;
    overflow: hidden;
    overflow-y: scroll;

    @media screen and (min-width: 768px) {
      padding: 25px;
      height: calc(100vh - 230px);
    }
    @media screen and (min-width: 1200px) {
      height: calc(100vh - 290px);
      grid-template-columns: repeat(2, 1fr);
      padding: 50px;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: var(--accent-background);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: var(--accent-background);
      &:hover {
        background-color: var(--error-color);
      }
    }

    &::-webkit-scrollbar-track {
      background-color: var(--accent-background);
    }
  }

  &__form {
    @media screen and (min-width: 1200px) {
      margin-right: 64px;
    }
  }

  &__title {
    font-size: 32px;
    font-family: var(--accent-font);
    margin-bottom: 50px;
  }

  &__input_fields {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    width: 100%;
    margin-bottom: 50px;
    @media screen and (min-width: 1200px) {
      width: 610px;
    }
  }

  &__input {
    border-bottom: 1px solid var(--accent-element-color);
    background-color: transparent;
    color: var(--opacity-font-2);
    width: 100%;
    @media screen and (min-width: 1200px) {
      width: 610px;
    }
  }

  &__btn {
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  &__btn_text {
    font-size: 40px;
    font-family: var(--accent-font);
    margin-right: 25px;
  }

  &__bottom {
    display: none;
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-top: 20px;
    }
  }

  &__btn_submit {
    background-color: transparent;
    border: 1px solid var(--accent-element-color);
    padding: 4px 6px;
    margin-bottom: 50px;
    width: 240px;
    @media screen and (min-width: 768px) {
      width: 678px;
    }
    @media screen and (min-width: 1200px) {
      width: 610px;
    }
  }

  &__btn_account {
    background-color: transparent;
    width: 240px;
    border: 1px solid var(--accent-element-color);
    padding: 4px 6px;
    margin-bottom: 25px;
    @media screen and (min-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      width: 362px;
    }
  }
  &__text_error {
    margin-bottom: 25px;
  }

  &__text_submit {
    background-color: var(--accent-element-color);
    color: var(--main-element-color);
    font-size: 18px;
    font-family: var(--accent-font);
    padding: 20px 16px;
    display: flex;
    text-align: start;
    align-items: center;
    @media screen and (min-width: 768px) {
      font-size: 24px;
      padding: 17px 20px;
    }
  }
  &__text_auth {
    background-color: var(--accent-element-color);
    color: var(--main-element-color);
    font-size: 14px;
    font-family: var(--accent-font);
    padding: 11.5px 12px;
    display: flex;
    text-align: start;
    align-items: center;
    @media screen and (min-width: 768px) {
      font-size: 24px;
      padding: 11.5px 20px;
    }
  }

  &__img {
    margin-right: 15px;
  }

  &__account {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text_reg {
    margin-bottom: 25px;
    color: var(--opacity-font-2);
    font-size: 14px;
    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
      font-size: 18px;
    }
    @media screen and (min-width: 1200px) {
      margin-bottom: 64px;
    }
  }

  &__error {
    width: 100%;
    background-color: transparent;
    border: 1px solid var(--error-color);
    padding: 4px 6px;
    margin-top: 25px;
    @media screen and (min-width: 768px) {
      width: 678px;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
      margin-top: 0;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__error_text {
    padding: 23px;
    background-color: var(--error-color);
    @media screen and (min-width: 1200px) {
      padding: 29px;
    }
  }

  &__title_error {
    font-size: 24px;
    margin-bottom: 25px;
    font-family: var(--accent-font);
  }

  &__text_err {
    color: var(--opacity-font-2);
    line-height: 1.5;
    font-size: 14px;
    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }
}
