.forum__replyitem {
  &_main {
    display: flex;
    height: auto;
  }
  &_linetopic {
    margin-left: 25.6px;
    width: 1px;
    height: 98px;
    background-color: var(--accent-element-color);
  }
  &_lineanswer {
    margin-left: 50px;
  }
  &_lineanswer_first {
    width: 1px;
    height: 23px;
    background-color: var(--accent-element-color);
    margin-top: 0;
  }
  &_lineanswer_second {
    display: block;
    width: 1px;
    height: 76px;
    background-color: var(--accent-element-color);
  }

  &_item:last-child &_lineanswer_second {
    display: none;
  }
  &_item:first-child &_lineanswer_second {
    height: 1px;
  }
  &_item:first-child &_lineanswer_first {
    height: 150px;
    margin-top: -50px;
  }

  &_line_horiz {
    height: 1px;
    width: 22.5px;
    background-color: var(--accent-element-color);
  }

  &_item {
    display: flex;
  }

  &_infotitle {
    display: flex;
    align-items: flex-start;
  }
  &_avatar {
    display: flex;
    align-items: center;
  }
  &_svg {
    padding: 3.75px;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &_line {
    width: 1px;
    height: 16px;
    background-color: var(--opacity-font-2);
    margin-left: 10px;
    margin-right: 10px;
  }

  &__text {
    color: var(--opacity-font-2);
    line-height: 1.4;
  }
  &__text_answer {
    line-height: 1.4;
    margin-bottom: 50px;
  }
}
