.forum__replyitem {
  &_main {
    display: flex;
    height: auto;
  }
  &_lineanswer {
    margin-left: 25.6px;
    width: 1px;
    height: 100px;
    // height: 100%;
    background-color: var(--accent-element-color);
  }

  &_line_horiz {
    height: 1px;
    width: 22.5px;
    background-color: var(--accent-element-color);
  }

  &_item {
    display: flex;
  }

  &_infotitle {
    //   margin-bottom: 50px;
    display: flex;
    align-items: flex-start;
  }
  &_avatar {
    display: flex;
    align-items: center;
  }
  &_svg {
    padding: 3.75px;
  }

  &_info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &_line {
    width: 1px;
    height: 16px;
    background-color: var(--opacity-font-2);
    margin-left: 10px;
    margin-right: 10px;
  }

  &__text {
    color: var(--opacity-font-2);
    line-height: 1.4;
  }
  &__text_answer {
    line-height: 1.4;
    margin-bottom: 50px;
  }
}
